.responsive-shell {
  width: 50%;
  margin-inline: auto;
  padding-block: 30px;
}

@media (max-width: 1024px) {
  .responsive-shell {
    width: 85%;
    padding-block: 30px;
  }
}

@media (max-width: 768px) {
  .responsive-shell {
    width: 100%;
    padding-inline: 1.25rem;
    padding-top: 60px;
    padding-bottom: 1.25rem;
  }
}

@media (max-width: 480px) {
  .responsive-shell {
    width: 100%;
    padding-inline: 1rem;
    padding-top: 50px;
    padding-bottom: 1rem;
  }
}
